body{
font-family: Arial;
background:#f4f4f4;
text-align:center;
}

h2{
margin-top:20px;
}

form{
margin:20px;
}

input{
padding:8px;
margin:5px;
}

button{
padding:8px 15px;
background:#007bff;
color:white;
border:none;
cursor:pointer;
}

table{
margin:20px auto;
border-collapse:collapse;
width:80%;
background:white;
}

th,td{
border:1px solid #ccc;
padding:10px;
}

th{
background:#333;
color:white;
}

a{
text-decoration:none;
color:red;
}
